h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.resultsHeader {
    color: white;
    padding: 0px !important;
}

.tread {
    margin-bottom: 50px;
    color: white;
}

.findHikeCon {
    margin-top: 50px;
    margin: 50px 30px;
}

.resultsList {
    padding-left: 40px !important;
    margin-top: 0px !important;
}

@media only screen and (max-width: 960px) {
    .resultsList {
        padding: 0px !important;
        margin-top: 50px !important;
    }
}
