.hero-image {
    /* background-image: url("../../assets/WannaWanderStrip.jpg"); */
    background-color: #86b9ff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .uk-grid-medium {
    margin: 25px;
  }

  .mountains {
    max-height: 100px;
    width: auto;
  }

  .uk-grid-medium div h1 {
    color: white;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }