.searchBar {
    background-color: #1e6262 !important;
    color: white;
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
    max-height: 730px;
}

.input-range {
    color: black;
}

.input-range__track--active {
    background: #b4f1f1 !important;
}

.input-range__slider {
    background: #2d767f !important;
    border-color: white !important;

}

.inputHead {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

.searchBtn {
    margin-top: 25px;
    border-radius: 25px;
    color: white;
}

.searchHead {
    color: white;
    font-family: 'Montserrat', sans-serif;
}