.searchBar {
    background-color: #1e6262 !important;
    color: white;
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
}

.input-range {
    color: black;
}

.input-range__track--active {
    background: #b4f1f1 !important;
}

.input-range__slider {
    background: #2d767f !important;
    border-color: white !important;

}

h4 {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}