.searchBar {
    background-color: rgb(0, 70, 21) !important;
    color: white;
    padding: 30px;
    border-radius: 30px;
    border: 1px outset rgb(255, 238, 0);
    box-shadow: 3px 3px 5px rgb(255, 238, 0);
    display: inline-block;
    max-height: 750px;
    margin-bottom: 50px !important;
}

.input-range {
    color: black;
}

.input-range__track--active {
    background: rgb(255, 238, 0) !important;
}

.input-range__slider {
    background: rgb(0, 70, 21) !important;
    border-color: rgb(255, 238, 0) !important;
}

.inputHead {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

.searchBtn {
    margin-top: 25px;
    border-radius: 25px;
    background-color: rgb(255, 238, 0);
    color: rgb(0, 70, 21);
}

.searchBtn:hover {
    color: rgb(255, 238, 0);
    border-color: rgb(255, 238, 0);
}

.searchHead {
    color: white;
    font-family: 'Montserrat', sans-serif;
}