.hikeCard {
    margin: 10px auto;
    border: none;
}

.hikeName {
    color: white !important;
    margin-bottom: 10px;
}

.hikeLocation {
    margin-top: 10px;
}

.hikeImg {
    border-radius: 30px;
    display: block;
    margin: 10px auto;
}

hr {
    border: 1px solid rgb(255, 238, 0);
}

.goodStar {
    color: rgb(255, 238, 0);
}