.weatherCard {
    margin: 15px;
    color: white;
    background-color: #0177d8;
    border-radius: 50px;
}

.weatherCard:hover {
    background-color: #0177d8 !important;
}

.uk-card-title {
    color: white !important;
}