.uk-navbar, .uk-navbar-dropdown {
    background-color: #0f1179 !important;
    margin: 0px !important;
}

.uk-navbar-nav li a, .uk-logo {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

.uk-logo {
    font-size: 25px;
}

.mountains {
    margin: -5px 5px;
    height: 90px;
    opacity: 0.9;
}

.topBar, .bottomBar {
    background-color: #0177d8 !important;
    padding: 5px;
    height: 23px;
    margin: 0px;
    color: white;
}

#hamburger {
    color: white;
}